/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.header-title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}
.home-icon {
    width: 24px;  /* Adjust icon size */
    height: 24px;
    cursor: pointer;
}
/* Sidebar */
.sidebar {

    width: 250px;
    background: linear-gradient(to bottom, #021D46, #0547AC);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}

.logo span {
    background-color: #014dd5;
    color: #ffff;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 5px;
}

.sidebar nav ul li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 5px;
}
.sidebar-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}
.sidebar ul {
    list-style: none;
}
.sidebar li {
    margin: 10px 0;
}

.sidebar .btn-sidebar {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar .btn-sidebar:hover {
    background: rgba(255, 255, 255, 0.2);
}


.logout {
    display: flex;
    align-items: center;
    background-color: #ed0909;
    height: 44px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    width: 210px;
    border-radius: 5px;
    transition: background 0.3s;
}

.logout .logout-icon i {
    margin-right: 10px; /* Khoảng cách giữa icon và chữ */
    font-size: 18px;
    color: #ffffff;
}

.logout:hover {
    background-color: #dd0f0f;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    font-size: 14px;
    background-color: #f0f0f0; /* Nền xám nhạt */
    color: #333;
}

.search-bar input::placeholder {
    color: #999;
}
